---
layout: "../layouts/Layout.astro";
import "../styles/global.css";
---

<header class="header">
    <h1 class="logo">Thai Bowl</h1>
    <div class="button-group">
        <a class="menu-btn" href="#menu">Menu</a>
        <a class="order-btn" href="#order-online">Order Online</a>
    </div>
</header>

<div class="imgbox">
    <img class="center-fit" src="src/assets/logo.png" alt="Thai Bowl Logo">
</div>

<h1 class="font-bold text-3xl m-5">Thai Bowl Logo</h1>

<nav>
    <a class="m-5 link" href="#home">Home</a>
    <a class="m-5 link" href="#menu">Menu</a>
    <a class="m-5 link" href="#order-online">Order Online</a>
</nav>

<h2>10% discount for UIC students</h2>

<div class="flex flex-col">
    <h1 class="font-bold text-2xl m-5">Gallery</h1>
    <div class="flex flex-row" id="photos">
        <img class="" src="src/assets/photo3.png" />
        <img class="" src="src/assets/photo3.png" />
        <img class="" src="src/assets/photo3.png" />
        <img class="" src="src/assets/photo3.png" />
    </div>
	
    <h1 class="font-bold text-2xl m-5">Location</h1>
    <div class="square"><h3>Embedded Google Maps</h3></div>
    <iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJIS2xdeQsDogR6lM4WLXiLG4&key=AIzaSyBDHiSi_z0p4XXPoItEGLWtHGRe06At5jA"></iframe>
    <div class="square"><h3>Hours of Operation</h3></div>
    <div class="square"><h3>Contact Info</h3></div>

    <h1 class="font-bold text-2xl m-5">About</h1>
    <div class="text">
        <img class="" src="src/assets/photo3.png" />
        <p>Story story sotry text about us text story and history of the restaurant
            how long have they been in business something else blah blah blah blah</p>
    </div>
    <h1 class="font-bold text-2xl m-5">Menu</h1>

</div>
