---
layout: "../layouts/Layout.astro";
import "../styles/global.css";
---

<header class="header">
    <a class="home-btn" href="/">Thai Bowl</a>
    <div class="button-group">
        <a class="menu-btn" href="/menu">Menu</a>
        <a class="order-btn" href="/order-online">Order Online</a>
    </div>
</header>

<div class="flex flex-col"> <!-- what was done in other -->
    <h3>Featured Dishes</h3>
    <div class="flex flex-row">
        <ul>
            <img class="fooditem" src="/src/assets/photo4.png">
            <img class="fooditem" src="/src/assets/photo4.png">
            <img class="fooditem" src="/src/assets/photo4.png">
        </ul>
    </div>
    
    <h3>Other Foods</h3>
    <div class="flex flex-row">
        <ul>
            <img class="" src="/src/assets/photo4.png">
            <img class="" src="/src/assets/photo4.png">
            <img class="" src="/src/assets/photo4.png">
        </ul>
    </div>
   
</div>