<!-- Footer for page -->
<footer class="footer">
  <div class="footer-content">
    <img
      style="width: 40px; height: 40px; margin-top: 10px"
      src="src/assets/thai_bowl_final_logo_square.png"
      alt="footer logo"
    />
    <p style="margin-top: 10px; font-size: smaller">Pages</p>
    <p>
      &#8226; <a
        style="color:white; font-weight: 100; font-size: medium"
        href="/">Home</a
      >
    </p>
    <p>
      &#8226; <a
        style="color:white; font-weight: 100; font-size: medium"
        href="/menu">Menu</a
      >
    </p>
    <p>
      &#8226; <a
        style="color:white; font-weight: 100; font-size: medium"
        href="/order-online">Order Online</a
      >
    </p>
    <br />
    <p style="margin-top: 10px; font-size: smaller">
      &copy;2025 Pod Thai. All Rights Reserved
    </p>
  </div>
</footer>
