<!-- Header for page -->
<header class="header">
  <a class="home-btn" href="/">Thai Bowl</a>
  <div class="button-group">
    <a class="menu-btn" href="/menu">Menu</a>
    <a class="order-btn" href="/order-online">Order Online</a>
  </div>
</header>

<!-- Big Thai bowl picture -->
<div class="imgbox">
  <img style="max-width: 100%;" class="center-fit" src="src/assets/banner.webp" alt="Thai Bowl Banner" />
</div>
